<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <div class="log">
        <input type="search">
        <input type="search">
        <a href="project.html">
            <button type="submit" class="button">ВОЙТИ</button>
        </a>
    </div> 
</body>
</html>