<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>названиедумайтесами.ру</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
  <div class="header">
    <a href="project.html" class="logoLink">
      <img class="logo" src="../static/pictures/plate-161124_1280.png" alt="тарелка">
    </a>
    <a href="" class="links">ПОДПИСКИ</a>
    <a href="" class="links2">СОЗДАТЬ РЕЦЕПТ</a>
    <a href="login.html" class="links3">ВОЙТИ</a>
    <a href="reg.html" class="links4">РЕГИСТРАЦИЯ</a>
    <input type="text" class="input" name="Поиск" placeholder="Поиск">
  </div>
  <div class="body">
    <div class="popular"></div>
    <div class="navigate"></div>
  </div>
</body>
</html>