<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  <div class="reg">
    <h1>Регистрация</h1>
          <p>Пожалуйста, заполните эту форму, чтобы зарегестрировать аккаунт.</p>
          </div>
</head>
<body bgcolor="#ffedcc">
    <form action="/reg/fun" method="POST">
        <div class="container">
          
          <hr>
          <label for="family"><b>Никнэйм</b></label>
          <input type="text" placeholder="Введите Никнэйм" name="family" required class="input-reg">
          
          <label for="email"><b>Почта</b></label>
          <input type="email" placeholder="Введите почту" name="email" required class="input-reg">
      
          <label for="psw"><b>Пароль</b></label>
          <input type="password" placeholder="Введите пароль" name="psw" required class="input-reg">
      
          <label for="psw-repeat"><b>Повторите пароль</b></label>
          <input type="password" placeholder="Повторите пароль" name="psw-repeat" required class="input-reg">
          <hr>
          <button type="submit" class="registerbtn">Зарегистрировать</button>
        </div>
        <div class="container signin">
          <p>Уже есть аккаунт? <a href="/log">Войти</a>.</p>
        </div>
      </form>
</body>
</html>