body, html{
padding: 0 0;
margin: 0 0;
}


.header{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d3831;
    padding: 25px 25px;
    box-shadow: 0px 5px 8px 0px #424242;
    background: #dddddd;
    font-family: Arial, Helvetica, sans-serif;

}

.body{
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.logo{
    height: 50px;
}


.input1{
    margin-left: 10px;
    height: 10;
    box-shadow: 0px 5px 8px 0px #7c7c7c;
}

.links{
    margin-left: 100px;
    text-decoration: none;
    color: #444444;
    align-items: center;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 20px;

}

.links2{
    margin-right: auto;
    text-decoration: none;
    color: #444444;
    margin-left: 20px;
    font-size: 20px;
}

.links:hover, .links2:hover{
    color: #1a1a1a;
}

.links3{
    margin-left: auto;
    text-decoration: none;
    color: #4b4b4b;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

.links4{
    margin-right: 25px;
    text-decoration: none;
    color: #4b4b4b;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
}

.links3:hover, .links4:hover{
    color: #1a1a1a;

}
.log[type=text]{
  background-color: #e9e9e9;
  height: 35px;
  width: 300px;
  margin: 0 auto;
  vertical-align: middle;
}

.log2[type=password]{
  background-color: #e9e9e9;
  height: 35px;
  width: 300px;
  margin: 0 auto;
  vertical-align: middle;
}

#rectangle {
  width: 300px;
  height: 400px;
  background: #f1f1f1;
  margin: 0 auto;
  vertical-align: middle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 200px;


}


.button{
  background-color: #4CAF50;
  font-size: 15px;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button:hover{
  background-color: #7fe982;
}


* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
.input-reg[type=text], .input-reg[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input-reg[type=text]:focus, .input-reg[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}