body, html{
padding: 0 0;
margin: 0 0;
}


.header{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d3831;
    padding: 25px 25px;
    box-shadow: 0px 5px 8px 0px #424242;
    background: #dddddd;
    font-family: Arial, Helvetica, sans-serif;

}

.body{
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.logo{
    height: 50px;
}


.input{
    margin-left: 10px;
    height: 10;
    box-shadow: 0px 5px 8px 0px #7c7c7c;
}

.links{
    margin-left: 100px;
    text-decoration: none;
    color: #444444;
    align-items: center;
    padding-left: 10px;
    margin-right: 20px;
    font-size: 20px;

}

.links2{
    margin-right: auto;
    text-decoration: none;
    color: #444444;
    margin-left: 20px;
    font-size: 20px;
}

.links:hover, .links2:hover{
    color: #1a1a1a;
}

.links3{
    margin-left: auto;
    text-decoration: none;
    color: #4b4b4b;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

.links4{
    margin-right: 25px;
    text-decoration: none;
    color: #4b4b4b;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
}

.links3:hover, .links4:hover{
    color: #1a1a1a;

}

.button{
    grid-template-rows: min-content;
    color: #0bc0c0;



}