body, html{
padding: 0 0;
margin: 0 0;
}

.header{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d3831;
    padding: 25px 25px;
    box-shadow: 0px 5px 8px 0px #424242;
    background: #dddddd;
    font-family: Arial, Helvetica, sans-serif;

}

.body{
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo{
    height: 50px;
}


.input1{
    margin-left: 10px;
    height: 10;
    box-shadow: 0px 5px 8px 0px #7c7c7c;
}

.links2{
    text-decoration: none;
    color: #444444;
    margin-left: 50px;
    font-size: 20px;
    margin-right: 10px;
}

.links3{
    margin-left: auto;
    text-decoration: none;
    color: #4b4b4b;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: small;
}

.links4{
    margin-right: 25px;
    text-decoration: none;
    color: #4b4b4b;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: small;
}

.links:hover, .links2:hover, .links3:hover, .links4:hover{
    color: #1a1a1a;

}

.bodylog{
  width: 100%;
  display: block;
  color: #353535;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 50px;
  margin-top: 200px;
}

#rectangle {
  width: 500px;
  height: 400px;
  background: #f1f1f1;
  margin: 0 auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  margin-bottom: -300px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 25px;
}

.log{
  background-color: #e9e9e9;
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 70px;
  width: 25%;
  height: 35px;
  border: 1px solid #5c5c5c;
  margin-left: 30%;
  margin-right: 30%;
}

.log2{
  background-color: #e9e9e9;
  height: 35px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 70px;
  width: 25%;
  height: 35px;
  border: 1px solid #5c5c5c;
  margin-left: 30%;
  margin-right: 30%;
}

.button{
  background-color: #4CAF50;
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 25%;
  font-size: 10pt;
  height: 35px;
  padding: 10px;
  border: 1px solid #b4b4b4;
  margin-left: 30%;
  margin-right: 30%;
}

.button:hover{
  background-color: #0ea713;
}

* {box-sizing: border-box}

.container {
  color: #3d3831;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-reg, .input-reg, .input-reg, .input-reg{

  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.input-reg:focus, .input-reg:focus, .input-reg:focus, .input-reg:focus{
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.reg{
  text-align: center;
  background-color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3831;
 box-shadow: 0px 5px 8px 0px #424242; 
  padding: 25px 25px;

}

.registerbtn:hover {
  opacity:1;
}

a {
  color: dodgerblue;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.dropbutton {
  background-color: #dddddd;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #444444;
  margin-right: 20px;
  cursor: pointer;
  margin-left: 50px;
}

.dropbutton:focus{
  outline: none;
  background-color: #ddd;
}

.dropbutton:hover{
  color: #1a1a1a;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: -400px;
  color: #444444;
  margin-left: 55px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.create{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #dddddd;
  font-size: 35px;
  box-shadow: 0px 5px 8px 0px #424242;
  padding: 25px 25px;
  color: #444444;
}

.name{
  text-align: center;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 5px;
  grid-area: name;
}

.photobtn{
  font-family: Arial, Helvetica, sans-serif;
  size: 50px;
  margin-left: 10px;
}

.recipe{
  grid-area: recipe;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  height: 400px;
  width: 250px;
  resize: none;
}

.cook{
  grid-area: cook;
  resize: none;
  width: 1500px;
  height: 400px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.block-vid{
  grid-area: vid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.vid{
background-color: #eeeeee;
}

#booba{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4CAF50;
  color: floralwhite;
  box-sizing: border-box;
  border: rgb(210, 219, 210);
  height: 30px;
}

#booba:hover{
  background-color: #388f22;
}

.form-create{
  display: grid;
  grid-template-areas: "name name name name" "photo photo photo photo" "recipe cook cook vid" "btn _ _ _" ;
}